# 两个df取交集并集

In [1]:
import pandas as pd

list_of_dates = ['2019-11-20', '2020-01-02', '2020-02-05',
                 '2020-03-10','2020-04-16','2020-05-01']
employees=['Hisila', 'Shristi','Zeppy','Alina','Jerry','Kevin']

df1 = pd.DataFrame({'Joined date': list_of_dates, 'employees': employees})
print('df1\n', df1)

wk_id=['12', '33','55','66','88','99']
df2 = pd.DataFrame({'Joined date': list_of_dates, 'wk_id': wk_id})
print('\ndf2\n', df2)

df1
   Joined date employees
0  2019-11-20    Hisila
1  2020-01-02   Shristi
2  2020-02-05     Zeppy
3  2020-03-10     Alina
4  2020-04-16     Jerry
5  2020-05-01     Kevin

df2
   Joined date wk_id
0  2019-11-20    12
1  2020-01-02    33
2  2020-02-05    55
3  2020-03-10    66
4  2020-04-16    88
5  2020-05-01    99

In [2]:
# 取交集 (测试不会删除异同的列，会自动按照相同的列交集后算结果)
pd.merge(df1,df2,how='inner')

  Joined date employees wk_id
0  2019-11-20    Hisila    12
1  2020-01-02   Shristi    33
2  2020-02-05     Zeppy    55
3  2020-03-10     Alina    66
4  2020-04-16     Jerry    88
5  2020-05-01     Kevin    99

In [3]:
wk_id=['12', '33','55','66']
df3 = pd.DataFrame({'Joined date': list_of_dates[:4], 'wk_id': wk_id})
print('\ndf3\n', df3)

df3
   Joined date wk_id
0  2019-11-20    12
1  2020-01-02    33
2  2020-02-05    55
3  2020-03-10    66

In [4]:
# 取交集
# 可以设置保留的列： pd.merge(df1,df2,on=['name', 'age', 'sex'],how='inner')
pd.merge(df1,df3,how='inner')

  Joined date employees wk_id
0  2019-11-20    Hisila    12
1  2020-01-02   Shristi    33
2  2020-02-05     Zeppy    55
3  2020-03-10     Alina    66

In [5]:
# 取并集
pd.merge(df1,df3,how='outer')

  Joined date employees wk_id
0  2019-11-20    Hisila    12
1  2020-01-02   Shristi    33
2  2020-02-05     Zeppy    55
3  2020-03-10     Alina    66
4  2020-04-16     Jerry   NaN
5  2020-05-01     Kevin   NaN

In [6]:
# 可以看到concat虽然也能基于日期取交集，但会产生重复的列joined data
pd.concat([df1, df3], axis=1, join='inner')
#取差集（从df1中过滤df2中存在的数据）
# df1 = df1.append(df2)
# df1 = df1.append(df2)
# df1 = df1.drop_duplicates(subset=['name', 'age', 'sex'],keep=False)

  Joined date employees Joined date wk_id
0  2019-11-20    Hisila  2019-11-20    12
1  2020-01-02   Shristi  2020-01-02    33
2  2020-02-05     Zeppy  2020-02-05    55
3  2020-03-10     Alina  2020-03-10    66