In [1]:
# -*- coding: utf-8 -*-
# @Author   : liyi
# @Time     : 2022/7/5 8:13
# @File     : api_tushare_data.py
# @Project  : ai_quant_trade
# Copyright (c) Personal 2022 liyi
# Function Description: select according to data
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# 1. 用日期列作为索引并修改为日期数据类型

In [2]:
import pandas as pd

list_of_dates = ['2019-11-20', '2020-01-02', '2020-02-05',
                 '2020-03-10','2020-04-16','2020-05-01']
employees=['Hisila', 'Shristi','Zeppy','Alina','Jerry','Kevin']
df = pd.DataFrame({'Joined date': list_of_dates, 'employees': employees})
df

  Joined date employees
0  2019-11-20    Hisila
1  2020-01-02   Shristi
2  2020-02-05     Zeppy
3  2020-03-10     Alina
4  2020-04-16     Jerry
5  2020-05-01     Kevin

In [3]:
# 将数据类型转换为日期类型
print(type(df['Joined date'][0]))
df['Joined date'] = pd.to_datetime(df['Joined date'])
print(type(df['Joined date'][0]))

<class 'str'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

In [4]:
# （！！！注意：这种方式会引起问题）这样设置索引，会导致索引也有列名
# df.index = df['Joined date']
# df

In [5]:
# DataFrame.set_index(self, keys, drop=True, append=False, inplace=False, verify_integrity=False)
# drop，默认是True，就是直接把column当成index，然后删除column
# 将某一列作为索引
df=df.set_index('Joined date',drop=False)
# 方案2
# df.index = df['Joined date']
print(df.head())
print(type(df.index))

            Joined date employees
Joined date
2019-11-20   2019-11-20    Hisila
2020-01-02   2020-01-02   Shristi
2020-02-05   2020-02-05     Zeppy
2020-03-10   2020-03-10     Alina
2020-04-16   2020-04-16     Jerry
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [6]:
# （会报错）如果想使用回默认的序列，则重置索引
# df.reset_index(inplace=True)

# 2. 按照年份进行选择和过滤

In [7]:
# 获取2019的数据
print('获取2019的数据\n', df['2019'])
# below will be removed in future, not use
print('\n获取2019-2020的数据\n', df['2019':'2020'])

获取2019的数据
             Joined date employees
Joined date
2019-11-20   2019-11-20    Hisila

获取2019-2020的数据
             Joined date employees
Joined date
2019-11-20   2019-11-20    Hisila
2020-01-02   2020-01-02   Shristi
2020-02-05   2020-02-05     Zeppy
2020-03-10   2020-03-10     Alina
2020-04-16   2020-04-16     Jerry
2020-05-01   2020-05-01     Kevin

<ipython-input-7-13dcdc2eef48>:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  print('获取2019的数据\n', df['2019'])

In [8]:
# 按照指定列选择
sel_data = ['2019-11-20', '2020-01-02', '2020-02-05']
df.loc[sel_data, :]

            Joined date employees
Joined date
2019-11-20   2019-11-20    Hisila
2020-01-02   2020-01-02   Shristi
2020-02-05   2020-02-05     Zeppy

In [9]:
# 时间过滤筛选
df.loc[df['Joined date'] > '2019-12-20']

            Joined date employees
Joined date
2020-01-02   2020-01-02   Shristi
2020-02-05   2020-02-05     Zeppy
2020-03-10   2020-03-10     Alina
2020-04-16   2020-04-16     Jerry
2020-05-01   2020-05-01     Kevin

# 3. 两个df取交集并集

In [10]:
df1 = pd.DataFrame({'Joined date': list_of_dates, 'employees': employees})
print('df1\n', df1)

wk_id=['12', '33','55','66','88','99']
df2 = pd.DataFrame({'Joined date': list_of_dates, 'wk_id': wk_id})
print('\ndf2\n', df2)

df1
   Joined date employees
0  2019-11-20    Hisila
1  2020-01-02   Shristi
2  2020-02-05     Zeppy
3  2020-03-10     Alina
4  2020-04-16     Jerry
5  2020-05-01     Kevin

df2
   Joined date wk_id
0  2019-11-20    12
1  2020-01-02    33
2  2020-02-05    55
3  2020-03-10    66
4  2020-04-16    88
5  2020-05-01    99

In [11]:
# 取交集 (测试不会删除异同的列，会自动按照相同的列交集后算结果)
pd.merge(df1,df2,how='inner')

  Joined date employees wk_id
0  2019-11-20    Hisila    12
1  2020-01-02   Shristi    33
2  2020-02-05     Zeppy    55
3  2020-03-10     Alina    66
4  2020-04-16     Jerry    88
5  2020-05-01     Kevin    99

In [12]:
wk_id=['12', '33','55','66']
df3 = pd.DataFrame({'Joined date': list_of_dates[:4], 'wk_id': wk_id})
print('\ndf3\n', df3)

df3
   Joined date wk_id
0  2019-11-20    12
1  2020-01-02    33
2  2020-02-05    55
3  2020-03-10    66

In [13]:
# 取交集
# 可以设置保留的列： pd.merge(df1,df2,on=['name', 'age', 'sex'],how='inner')
pd.merge(df1,df3,how='inner')

  Joined date employees wk_id
0  2019-11-20    Hisila    12
1  2020-01-02   Shristi    33
2  2020-02-05     Zeppy    55
3  2020-03-10     Alina    66

In [14]:
# 取并集
pd.merge(df1,df3,how='outer')

  Joined date employees wk_id
0  2019-11-20    Hisila    12
1  2020-01-02   Shristi    33
2  2020-02-05     Zeppy    55
3  2020-03-10     Alina    66
4  2020-04-16     Jerry   NaN
5  2020-05-01     Kevin   NaN

In [19]:
# 可以看到concat虽然也能基于日期取交集，但会产生重复的列joined data
pd.concat([df1, df3], axis=1, join='inner')
#取差集（从df1中过滤df2中存在的数据）
# df1 = df1.append(df2)
# df1 = df1.append(df2)
# df1 = df1.drop_duplicates(subset=['name', 'age', 'sex'],keep=False)

  Joined date employees Joined date wk_id
0  2019-11-20    Hisila  2019-11-20    12
1  2020-01-02   Shristi  2020-01-02    33
2  2020-02-05     Zeppy  2020-02-05    55
3  2020-03-10     Alina  2020-03-10    66